tr.task-row:hover {
    background-color: #f0f0f0; /* Change the background color when hovered */
    cursor: pointer; /* Change the cursor to a pointer to indicate interactivity */
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-form input[type="text"],
.centered-form input[type="password"],
.centered-form input[type="email"],
.centered-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.status-dropdown {
    background: transparent; /* Make the background transparent */
    color: #d4d4d4; /* Set the text color */
    border: 1px solid transparent; /* Add a border */
    border-radius: 4px; /* Add border-radius for rounded corners */
    padding: 5px; /* Add padding to make it look nice */
    outline: none; /* Remove the default focus outline */
}

/* Style for the drop-down menu options */
.status-dropdown option {
    background: transparent; /* Make the background transparent */
    color: #333333; /* Set the text color */
}

/* Style for the selected option */
.status-dropdown option:checked {
    background: #0270D7; /* Change the background color for the selected option */
    color: #fff; /* Set the text color for the selected option */
}
.add-task-popup {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
z-index: 999; /* Ensure it's on top of other elements */
}

/* Style for the pop-up content */
.popup-content {
background-color: #333333;
border-radius: 8px;
max-width: 400px;
margin: 10% auto;
padding: 20px;
position: relative;
}

/* Style for the close button */
.close {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 20px;
color: #555;
}